.erBody{
    padding-top: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.imgHero{
    position: absolute;
    object-fit:cover;
}

.imgLeft, .imgFront, .imgBack{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: all 0.5s;
}
.imgRight{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    transition: all 0.5s;
}
.dio{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}