.erBody{
    padding-top: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.imgHero{
    position: absolute;
    object-fit:cover;
}

.imgLeft, .imgFront, .imgBack{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: all 0.5s;
}
.imgRight{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    transition: all 0.5s;
}
.dio{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.buttonStart {
    height: auto;
    width: 16rem;
    background: transparent;
    border: none;
    cursor: pointer;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 4rem;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--color-light-gray);
}

.hover-text {
    margin-left: 2px;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    color: var(--color-yellow);
    width: 0%;
    inset: 0;
    border-right: 6px solid var(--color-yellow);
    overflow: hidden;
    transition: 0.4s;
    -webkit-text-stroke: 1px var(--color-yellow);
}
  /* hover */
.buttonStart:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--color-yellow))
}
/* row que contém o código */
.codigo {
    margin-bottom: 2rem;
}
/* div que contém setas e numero */
.rectangle {
    background-color: black;
    width: 25px;
    height: 250px;
}
.arrow {
    background-color: black;
    color: var(--color-white);
    border: 0;
}
.arrow:hover {
    color: var(--color-yellow);
}
/* NUMEROS DO CODIGO */
.code {
    color: var(--color-yellow);
    font-size: xx-large;
}
#chaveTSIW {
    position: fixed;
    left: 28vw;
    top: 55vh;
    z-index: 1001;
    width: 32px;
    height: 32px;
    display: none;
}
