.imgSala{
    object-fit:cover;
    position: absolute;
}

.imgComputador{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: all 0.5s;
}
.imgSaida{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    transition: all 0.5s;
}
.modal-background{
    background-color: var(--color-dark-gray) !important;
    border-color: var(--color-black) !important;
    color: var(--font-color) !important;
}

.draggable {
    background-color:var(--color-yellow);
    border-radius: 0.2rem;
    color: var(--color-dark-gray);
    margin:5px;
    padding:3px;
    transition: all 0.5s;
    cursor:grab;
}

.grabbable:active {
    cursor: grabbing;
}

#options1,#options2,#options3{
    border: 2px solid #ffd100;
    padding: 2rem;
}

.drop{
    display:inline-block;
    min-width:2rem;
    min-height:1.5rem;
    border-style:solid;
    border-width:0px;
    border-bottom-width:0.2rem;
    margin-top: 0.5rem;
}

.certo{
    background-color: #058d0a;
}

.errado{
    background-color: #bc0505;
}
/*---------------Botao--------------------*/
  
.btn-content {
    padding: 0.3rem 0.3rem;
    text-decoration: none;
    color: var(--font-color);
    background: var(--color-black);
    transition: 1s;
    border-radius: 3rem;
    box-shadow: 0 0 0.2em 0 var(--color-black);
}
  
.btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-black);
}
  
.btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
}
  
.btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
}
  
.icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    color: var(--color-yellow);
}
  
  /* SVG */
#arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
}
  
#arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
}
  
.btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
}
  
.btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}
  
.btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}
  
  /* SVG animations */
@keyframes color_anim {
    0% {
        fill: var(--color-white);
    }
  
    50% {
        fill: var(--color-black);
    }
  
    100% {
        fill: var(--color-yellow);
    }
}
  
  /* Button animations */
@-webkit-keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-black);
        outline-offset: 0;
    }
}
  
@keyframes btn-content {
    0% {
        outline: 0.2em solid var(--color-black);
        outline-offset: 0;
    }
}

/*---------------------------------------------*/
  
.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
  }
  
.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }
  
.twitter {
    margin-top: 1.5em;
    margin-left: -0.9em;
    fill: #03a9f4;
  }
  
.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }
  
.github {
    margin-top: -0.6em;
    margin-left: 1.2em;
  }
  
.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
  }
  
.discord {
    margin-top: -0.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
  }
  
.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
    box-shadow: 1px 1px 0px #eeb1de, 2px 2px 0px #d365b6, 3px 3px 0px #d365b6,
      4px 4px 0px #d365b6, 5px 5px 0px #d365b6;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03a9f4;
    box-shadow: 1px 1px 0px #a1defa, 2px 2px 0px #41bef8, 3px 3px 0px #41bef8,
      4px 4px 0px #41bef8, 5px 5px 0px #41bef8;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
    box-shadow: 1px 1px 0px rgb(124, 123, 123), 2px 2px 0px #333, 3px 3px 0px #333,
      4px 4px 0px #333, 5px 5px 0px #333;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
    box-shadow: 1px 1px 0px #bdc2e2, 2px 2px 0px #9ca6e0, 3px 3px 0px #9ca6e0,
      4px 4px 0px #9ca6e0, 5px 5px 0px #9ca6e0;
  }
  
  .card4:hover .discord {
    fill: white;
  }
  
  .card1,
  .card2,
  .card3,
  .card4 {
    box-shadow: 1px 1px 0px rgb(179, 175, 175), 2px 2px 0px rgb(179, 175, 175),
      3px 3px 0px rgb(179, 175, 175), 4px 4px 0px rgb(179, 175, 175),
      5px 5px 0px rgb(179, 175, 175);
  }
  