/* Adiciona a imagem de background na Home*/
#home {
  position: relative;
  background-image: url('../../media/img/Bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
/* Video Teaser */
/* #home {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

#backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.carousel {
  position: relative;
  z-index: 1;
} */

/* Cartão dos eventos no index */
.event-card {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-top: 8rem;
  border: 0.3rem solid;
  border-image: var(--color-yellowToSolidGray-gradient);
  box-shadow: 0rem 0.3rem 1.5rem -0.063rem rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  background-color: transparent;
  height: 270px;
}
#eventContainer {
  background-color: var(--color-dark-gray);
  padding: 0;
}
#eventInterior {
  padding-left: 1.5rem;
  max-height: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Titulo do cartão */
.event-title {
  color: var(--color-white);
  text-decoration: underline;
  font-weight: 700;
  font-size: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical; /* Necessário para adicionar ellipsis ao texto */
  -webkit-line-clamp: 1; /* Limite de linhas do titulo */
  overflow: hidden;
  text-overflow: ellipsis;
}
/*  Texto do cartão  */
.event-description {
  color: var(--color-white);
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1rem;
  display: -webkit-box; /* Necessário para adicionar ellipsis ao texto */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limite de linhas do texto */
  overflow: hidden;
  text-overflow: ellipsis;
}
/* + icon, anchor para site do evento */
.event-link {
  display: flex;
  align-items: center;
  color: var(--color-yellow);
  font-weight: 300;
  font-size: 2rem;
  text-decoration: none;
  height: 1.3rem;
  line-height: 1;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}
/* Cartão dos eventos no index */

/* Projects section */
#projectsHeader .link {
  position: relative;
  color: var(--color-yellow);
  font-weight: 300;
  font-size: 1.5rem;
  text-decoration: none;
  top: 0.25rem;
}
#projectsContainer .link {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  color: var(--color-yellow);
  font-weight: 300;
  font-size: 2rem;
  text-decoration: none;
  height: 1.3rem;
  width: 1.3rem;
  line-height: 1;
}
#verMaisProjetos {
  position: absolute;
  margin-top: 1.5rem;
  padding: 1.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
/* Projects section */

/* Gauge */
.gauge-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}
.gauge-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}
.gauge-container canvas {
  transition: transform 0.2s ease-in-out;
}
.gauge-container canvas:hover {
  transform: scale(1.1);
}
/* Gauge */

/* Alumni section */

#testemunhosContainer {
  display: flex;
  justify-content: space-between;
}
/* Retirar margem do cartão dentro do modal */
#modalCardContainer {
  padding-right: 0;
}
#indexModal .alumniContainer{
  margin-right: 0;
}
.alumniContainer {
  text-align: start;
  border: 0;
  padding: 0;
  max-width: 250px;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075), 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
}
.alumniDescription {
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 0;
  overflow: hidden;
}
.alumniDescription p {
  margin: 0 !important;
}
/* Trocar imagem por mensagem alumni */
.imageAlumni {
  border: 0.3rem solid;
  border-image: var(--color-yellowToSolidGray-gradient);
  width: 100%;
  transition: opacity 1s ease-in-out;
}
#hiddenText {
  position: absolute;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  width: 250px;
  height: 250px;
  overflow: hidden;
  padding: 1rem;
}
/* Trocar imagem por mensagem alumni */
#modalAlumniContent {
  border: 0.15rem solid;
  border-image: var(--color-yellowToSolidGray-gradient);
  box-shadow: 0rem 0.3rem 1.5rem -0.063rem rgba(0, 0, 0, 0.2);
}
#modalIndexBody {
  margin: 2rem;
}
#msgModalAlumni {
  line-height: 150%;
  font-style: italic;
  word-break: break-word;
}
/* lista de prémios */
#awardsModalAlumni {
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 0;
  left: calc(100% - 16rem);
  max-width: 260px;
}
/* medalha + texto prémio */
.awardsItem {
  display: flex;
  align-items: start;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
/* medalhas */
.awardsItem > svg {
  margin-top: 0.4rem;
  margin-right: 0.5rem;
}
#alumniModal .card {
  margin-right: 0;
}
#seeLessAlumni {
  position: absolute;
  bottom: 0;
  left: calc(100% - 2rem);
}
#linkedinIcon {
  position: relative;
  color: var(--color-yellow);
  margin-top: 5px;
}

/* Alumni section */

/* Ajustar botão ver mais no catalogo do 3 ano */
#seeMoreThirdYear {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Tv static filter  na escape room section*/
#tvStatic {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* //////////// MEDIA QUERIES /////////// */
/* TABLETS */

@media only screen and (max-width: 1023px) {
  .event-card {
    height: 132.5px;
  }
  .event-description {
    color: var(--color-white);
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
  }
  /* Alumni */
  #testemunhosContainer {
    justify-content: center;
  }
  #msgModalAlumni {
    line-height: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /* lista de prémios */
  #awardsModalAlumni {
    position: static;
    right: 0;
    top: 0;
  }
  .alumniContainer {
    margin-right: 2rem;
  }

  /* Alumni */
}

/* MOBILE */
@media only screen and (max-width: 516px) {
  .alumniContainer {
    margin-right: 0rem;
  }
}
