body {
    background-color: var(--color-dark-gray);
    font-family: "Poppins", sans-serif;
    color: var(--color-white);
}

h1, h2, h3, h4, h5, h6, .title, .logo, .cartaz-title {
    font-family: "Anta", sans-serif;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 10px;
    }
}
