:root {
    /*Color*/
    --font-color: #D6D6D6;
    --color-white: #FAF4F4;
    --color-yellow: #FFD100;
    --color-light-yellow: #FFEE32;
    --color-black: #202020;
    --color-dark-gray: #333533;
    --color-light-gray: #D6D6D6;
    /*Gradients*/
    --color-gray-gradient: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(102,102,102,0.2) 100%);
    --color-yellow-gradient: linear-gradient(0deg, rgba(255,238,50,1) 0%, rgba(255,209,0,1) 100%);
    --color-yellowToGray-gradient: linear-gradient(0deg, rgba(255,238,50,1) 0%, rgba(102,102,102,0.2) 100%);
    --color-yellowToSolidGray-gradient: linear-gradient(to bottom left, #FFEE32, #666666) 1;
    --color-greyToDarkGrey-gradient: linear-gradient(180deg, rgba(214, 214, 214, 0.8) 0%, rgba(112, 112, 112, 0.8) 100%);
    --color-gradientLoginMobile: linear-gradient(90deg, rgba(0, 0, 0, 0), #707070);
}   
